body {
    font-family: 'Balsamiq Sans', cursive;
    padding: 0;
    margin: 0;
}

header {
    font-family: 'Balsamiq Sans', cursive;
}

.navbar {

    background-color: transparent !important;

}

.navbar-black-background {

    background-color: #000000e6 !important;
    transition: all 0.6s ease;
}

.logo {
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
}

.collapse ul li a {
    color: white !important;
    font-weight: 700;
    font-size: 20px;
}


nav h2 {
    margin: 10px;
    padding: 2px 0;
    padding: 8px 0 0 0;
}

.presentacion {
    display: flex;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(to right, hsla(197, 38%, 28%, 0.578), hsla(195, 35%, 19%, 0.564), hsla(198, 44%, 11%, 0.639)), url("images/banner-min.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    padding: 150px 0;
}

.info-presentacion {
    padding-right: 50%;
}

.info-presentacion h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
}

.info-presentacion h2 {
    font-size: 35px;
}


.botones button
{
   padding:20px;
}

.historia {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    font-family: 'Balsamiq Sans', cursive;
    color: black;
}


.historia-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: space-between;
}

.row-his {
    width: 530px;
    padding:20px 0;

}

.img-historia {
    width: 100%;
    height:100%;
    border-radius: 5px;
}

.info-historia div h3{
    margin: 15px 0 15px 0;
    color: #ffc107;
}

.info-historia button {
    padding: 15px;
    font-weight: bold;
}

.Tipos-alimentos {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    font-family: 'Balsamiq Sans', cursive;
    color: black;
    background: #f4f4f4;
}

.container-button {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  
}

.column-button {
    width: 30%;
    height: 300px;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    transition: all 0.3s ease;
    border-radius: 5px;
    background: white;
    text-align: center;
    padding: 50px 20px;
}

.column-button:hover {
    text-decoration: none;
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);

}

.column-button div {
    margin-bottom: 10px;
}

.column-button p {
    color:#212529;
}

.column-button h4{
   color:#3B3663;
}

.column-button:hover h4{
   color:#ffc107;
}

.ventajas {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Balsamiq Sans', cursive;
    color: black;
    padding: 50px 0;
}

.container-ventajas {
    display: flex;
}

.column-ventajas {
    padding: 10px;
    flex: 1; /*Automaticamente ocupa todo el espacio del contenedor*/
    height: 650px;
}

.column-ventajas i {
    font-size: 35px;
    color: #ffc107;
    padding-right: 10px;
}

.column-ventajas h4 {
    display: inline-block;
    font-weight: 700;
}

.column-ventajas div {
    margin-bottom: 30%;
}

.column-ventajas img {
    max-width:100%;
    height:auto;
}

.contactanos {
    width: 100%;
    background-image: linear-gradient(to right, hsla(197, 38%, 28%, 0.578), hsla(195, 35%, 19%, 0.564), hsla(198, 44%, 11%, 0.639)), url("images/banner-min.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.contactanos div.container{
    padding: 210px 0;
}

.contactanos span{
    color:#ffc107;
}

.text-contactanos {
    margin-bottom: 35px;
}


@media all and (max-width: 1200px) {
    .row-his {
        width: 100%;
    }

    .container-ventajas {
        flex-direction: column;
    }

    .container-ventajas div{
        text-align:center;
    }

    .column-ventajas div {
        margin-bottom: 45px;
    }
}

@media all and (max-width: 1000px) {
    .container-button {
        flex-direction: column;
        padding: 10px 0;
    }

    .navbar{
        background-color: #000000e6 !important;

    }

    .column-button {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }


}
